@media (min-width:535px) and (max-width: 824px){
    [class*="col-"]{
    	width:100%;
    }
	form{
		width: 100%;
		

	}
	body{
		font-family: "Courgette";
	}

    footer, header{
    	background-color:#2e933c;
    }
}

